{% extends 'base_carpeta.html' %}

{% block title %} Nosotros {% endblock %}


{% block contenido %} 
<div class="panel panel-default">
	<div class="panel-heading">
  		<h3 class="panel-title">La energía solar</h3>
	</div>
	<div class="panel-body">
  		<div class="row featurette">
        <div class="col-md-12">
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>¿Sabías qué? </h2>
              <p>Sabías que una familia que calienta su agua con energía solar sólo gasta una cuarta parte del dinero que gasta una familia que la calienta con electricidad. </p>
              
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>¿Sabías qué? </h2>
              <p>La energía solar es la energía solar más limpia que existe.</p>
              
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>¿Sabías qué? </h2>
              <p>Usar energía solar ayuda a conservar los recursos naturales del planeta para futuras generaciones y ayuda a preservar los ecosistemas. La energía solar puede ayudar a revertir el daño ya hecho al medio ambiente. </p>
              
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>¿Sabías qué? </h2>
              <p>Los sistemas fotovoltaicos que tienen pilas para almacenar la energía solar. </p>
              
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>¿Sabías qué? </h2>
              <p>Los paneles solares tienen bajo mantenimiento y larga duración. Las paneles casi no tienen partes portátiles y no hacen ruido al operar, lo que los hace silenciosos y sencillos de mantener.</p>
              
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h2>¿Sabías qué? </h2>
              <p>Los paneles producen energía durante años. Cuentan con una garantía de fabrica de hasta 30 años pero su vida útil es de hasta 45 años.</p>
              
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
        </div>
      </div>
	</div>
</div>
{% endblock %}