{% extends 'base_carpeta.html' %}

{% block title %} Nosotros {% endblock %}


{% block contenido %} 
<div class="panel panel-default">
	<div class="panel-heading">
  		<h3 class="panel-title">¿ Cómo funciona nuestro sistema ?</h3>
	</div>
	<div class="panel-body">
  		<div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="../static/img/panel.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <br><br>
          <p class="lead">El sistema calcula, la radiación solar que es recibida en el sector seleccionado en el mapa, con esta información se simula la instalación de un panel fotovoltaico de 250W con 60 celdas, de esta manera se entrega la energía que podría ser ahorrada post-instalación.</p>
        </div>
      </div>
	</div>
</div>
{% endblock %}