{% extends 'base_carpeta.html' %}

{% block title %} Nosotros {% endblock %}


{% block contenido %} 


	        <div class="page-header">
	          <h1>Mapa Solar Bio-Bío</h1>
	        </div>

      <div class="jumbotron">
        <h1>Cuidemos el planeta</h1>

        <p>Solar UBB es una iniciativa que busca fomentar el uso de energía solar atreves de esta aplicación web, que permite, saber aproximadamente el ahorro energético en la comuna de Concepción y de esta  manera tomar una buena decision a la hora de optar por la energía solar.</p>

        <p><a href="../mas" class="btn btn-primary btn-lg">Saber como funciona este sistema &raquo;</a></p>
        
      </div>

      <hr class="featurette-divider">
{% endblock %}